<link rel="stylesheet" href="/stylesheets/Mobile/style.css">

<div id="BottomBar">
  <img src="images/chart.svg" alt="" srcset="" id="chartSvg">
  <img src="images/components.svg" alt="" srcset="" id="componentsSvg">
  <img src="images/information.svg" alt="" srcset="" id="infoSvg">
</div>

<script src="/scripts/Mobile/script.js"></script>

</html>