<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Mobile/style.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>Particle</title>
</head>

<body>
  <!-- <div id="WelcomePage" class="Center">
      <div class="Logo">
        <img src="images/favicon.ico" alt="" srcset="">
      </div>
      <h1>Welcome</h1>
    </div> -->
  <!-- <div id="DetectionPage" class="Center">
    <div class="Logo">
      <img src="images/favicon.ico" alt="" srcset="">
    </div>
    <div id="ChartContainer">
      <canvas id="line"></canvas>
      <div id="Legend">
        <div id="Air">
          <p>Clean Air</p>
          <div id="AirLegend"></div>
        </div>
        <div id="Gas">
          <p>Gas</p>
          <div id="GasLegend"></div>
        </div>
        <div id="CO2">
          <p>CO2</p>
          <div id="CO2Legend"></div>
        </div>
      </div>
    </div>
    <%- include('bottomBar.ejs') %>
  </div> -->

  <div id="Components" class="Center">
    <div class="Logo">
      <img src="images/favicon.ico" alt="" srcset="">
    </div>

    <div id="BreadBoardContainer">
      <div id="BreadBoardImg">
        <img src="images/BreadBoard.png" alt="" srcset="">
      </div>
      <p>BreadBoard</p>
    </div>
    <div id="PhotonContainer">
      <div id="PhotonImg">
        <img src="images/Photon.png" alt="" srcset="">
      </div>
      <p>Photon</p>
    </div>
    <div id="Mq-2Container">
      <div id="Mq-2Img">
        <img src="images/Mq-2.png" alt="" srcset="">
      </div>
      <p>Mq-2</p>
    </div>
    <%- include('bottomBar.ejs') %>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="/scripts/Mobile/script.js"></script>

</html>